
.header {
    text-align: center; 
}

a{
    text-decoration: none;
    color: black;
}

span{
    color:red;
}

.filter-bar {
    display: flex;
    flex-direction: column; 
}
.filter-bar .filter-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hide-until-md { 
    display: none; 
}


@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .header .title {
        margin-bottom: 0;
    }

    .filter-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .filter-bar .filter-controls {
        flex-direction: row;
    }
    .filter-bar .form-control, .filter-bar .form-select {
        width: auto; 
    }

    .hide-until-md {
        display: table-cell;
    }
}

